<% @order_items.each do |order_item| -%>
  <div>
    <div>
      <div class="row">
        <div class="col-md-6">
          <div class="text-left">
            <b><%= order_item.meal_name%></b>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-right">
            Quantity: <%= order_item.qty%>
          </div>
        </div>
      </div>
    </div>

    <div>
      <input
        name="order_item[<%=order_item.id%>]" class="rating rating-loading"
        data-min="0" data-max="5" data-step="1" value="<%= order_item.rate_point %>"
        data-show-caption=false data-show-clear=false
        data-ratable_id=1 data-ratable_type="order_item"
        data-display-only="<%= !@user_ratable %>"
      >

      <% if order_item.comment %>
        <div>
          Comment:
          <%= order_item.comment.content %>
        </div>
      <% end %>

      <% if !order_item.comment && @user_ratable %>
        <div class="form-group">
          Comment:
          <textarea
            name="comment[order_item][<%=order_item.id%>]"
            class="form-control"
          ></textarea>
        </div>
      <%end%>
    </div>
  </div>
  <hr></hr>
<% end %>

<div>
  <b>Delivery service</b>
  <input
    name="delivery[<%= @delivery.id%>]" class="rating rating-loading"
    data-min="0" data-max="5" data-step="1" value="<%= @delivery.rate_point %>"
    data-show-caption=false data-show-clear=false
    data-ratable_id="<%= @delivery.id %>" data-ratable_type="delivery"
    data-display-only="<%= !@user_ratable %>"
  >

  <% if @delivery.comment %>
    <div>
      Comment:
      <%= @delivery.comment.content %>
    </div>
  <% end %>

  <% if !@delivery.comment && @user_ratable %>
    <div class="form-group">
      Comment:
      <textarea
        name="comment[delivery][<%=@delivery.id%>]"
        class="form-control"
      ></textarea>
    </div>
  <%end%>
</div>
